html
  head
    title= title
  body
    p
      a(href='/add-person') Add Person
    p
      a(href='/add-event') Add Event
    p
      a(href='/people') View People
    p
      a(href='/events') View Events
