html
  head
    title= title
  body
    table
      each val in people
        tr
          td= val.name
          td= val.rolename
          td= val.email
    p
      a(href='/add-event') Add Another Event
    p
      a(href='/home') Return Home
