html
  head
    title= title
  body
    h1= message
    form(action='/added-person' method='post')
      div
        label(for='name') Name:
        input(type='text' id='name' name='user_name')
      div
        label(for='role') Role:
        select(name='role' id='role')
          option(value='student') Student
          option(value='residential staff') Residential Instructor
          option(value='academic staff') Faculty
      div.button
        button(type='submit') Add Person
